<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.kang.children.model.mapper.ChildrenMapper">
	<resultMap id="child" type="ChildrenDto">
		<result column="child_idx" property="childIdx" />
		<result column="familyname" property="familyname" />
		<result column="parent_idx" property="parentIdx" />
		<result column="nickname" property="nickname" />
		<result column="profile_image_url" property="profileImageUrl" />
		<result column="gender" property="gender" />
		<result column="birth_date" property="birthDate" />
		<result column="weight" property="weight" />
		<result column="height" property="height" />
		<result column="bmi" property="bmi" />
		<result column="today_calrories" property="todayCalrories" />
	</resultMap>
	
	<insert id="insertChildren" parameterType="ChildrenDto" useGeneratedKeys="true" keyColumn="child_idx" keyProperty="childIdx">
		insert into children(parent_idx, nickname,profile_image_url,gender,birth_date)
		value (#{parentIdx},#{nickname},#{profileImageUrl},#{gender},#{birthDate});
	</insert>
	
	<insert id="insertChildrenBody">
		insert into bodyRecord(child_idx,weight,height,bmi,today_calrories,record_date)
		value(#{childIdx},#{weight},#{height},#{bmi},#{todayCalrories},now());
	</insert>
	<delete id="deleteChildren" parameterType="int">
		delete from ch,br
			using children as ch
   			left join bodyRecord as br
   		 	on ch.child_idx = br.child_idx
		where br.child_idx = #{childIdx};
	</delete>
	<update id="updateChildren" parameterType="ChildrenDto">
		update children
		set nickname = #{nickname},
		 	profile_image_url=#{profileImageUrl},
		 	gender=#{gender},
		 	birth_date=#{birthDate}
		where child_idx = #{childIdx}
	</update>
	<select id="selectChildren" parameterType="int" resultMap="child">
		with latest_body_record as(
		SELECT child_idx, max(record_date) as record_date  
		FROM bodyRecord 
		group by child_idx
		),
		body_record_details  as(
		select body_record_idx, br.child_idx, weight,height,bmi,today_calrories,br.record_date
		from bodyRecord br join latest_body_record latest
		where br.child_idx =latest.child_idx and br.record_date = latest.record_date
		)

		select body.child_idx,ch.parent_idx as parent_idx,nickname,familyname,profile_image_url,gender,birth_date,weight,height
		from children ch join parent p on ch.parent_idx = p.parent_idx join  body_record_details body on ch.child_idx = body.child_idx
		where ch.parent_idx =7;
	</select>
</mapper>
