<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.kang.photos.model.mapper.PhotosMapper">
	
	<resultMap type="PhotosDto" id="photosList">
		<result column="photo_idx" property="photoIdx" />
		<result column="photo_image_url" property="photoImageUrl" />
		<result column="create_date" property="createDate" />
		<result column="photo_name" property="photoName" />
	</resultMap>
	
	<resultMap type="PramesDto" id="pramesList">
		<result column="prame_idx" property="prameIdx" />
		<result column="prame_image_url" property="prameURL" />
		<result column="prame_flag" property="prameFlag" />
	</resultMap>
	
	
	<!-- 사진 저장  -->
	<insert id="insertPhoto" parameterType="PhotosDto">
		INSERT INTO photoAlbum
		(parent_idx,photo_image_url, create_date, photo_name)
		VALUES 
		(0,#{photoImageUrl}, curdate(),#{photoName})
	</insert>
	
	
	<!-- 사진 조회 -->
	<select id="selectPhotos" parameterType="int" resultMap="photosList">
		SELECT photo_idx, photo_image_url, create_date, photo_name
		FROM photoAlbum
		WHERE parent_idx=#{parentIdx}
	</select>
	
	<!-- 프레임 및 스티커 조회  -->
	<select id="selectPrames" parameterType="int" resultMap="pramesList">
		SELECT prame_idx, prame_image_url, prame_flag
		FROM photoPrame
		WHERE photo_idx=#{photoIdx}
	</select>
	
	<!-- 사진 삭제  -->
	<delete id="deletePhoto" parameterType="int">
	   	DELETE FROM photoAlbum
	   	WHERE photo_idx=#{photoIdx};
   </delete>
	
	
	
	
</mapper>