<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.kang.photos.model.mapper.PhotosMapper">
	
	<resultMap type="PhotosDto" id="photosList">
		<result column="photo_idx" property="photoIdx" />
		<result column="photo_image_url" property="photoImageUrl" />
		<result column="create_date" property="createDate" />
		<result column="photo_name" property="photoName" />
	</resultMap>
	
	<resultMap type="FramesDto" id="framesList">
		<result column="frame_idx" property="frameIdx" />
		<result column="frame_image_url" property="frameURL" />
		<result column="frame_flag" property="frameFlag" />
	</resultMap>
	
	
	<!-- 사진 저장  -->
	<insert id="insertPhoto" parameterType="PhotosDto">
		INSERT INTO photoAlbum
		(parent_idx,photo_image_url, create_date, photo_name)
		VALUES 
		(0,#{photoImageUrl}, curdate(),#{photoName})
	</insert>
	
	
	<!-- 사진 조회 -->
	<select id="selectPhotos" parameterType="int" resultMap="photosList">
			<![CDATA[ 
				SELECT * 
				FROM (
					SELECT @rownum:=@rownum+1 as rnum,	
			        photo_idx, photo_image_url, create_date, photo_name
						FROM photoAlbum,(select @rownum:=0) rn
						WHERE parent_idx=#{parentIdx}
			        ) as a
			    WHERE rnum >(#{pageNum}-1)*10  and rnum <=(#{pageNum}*10);
    		 ]]>
	</select>
	
	<!-- 프레임 조회  -->
	<select id="selectFrames" resultMap="framesList">
    	SELECT  frame_idx, frame_image_url, frame_flag
		FROM photoFrame 
		where frame_idx between 1 and #{level}
	</select>
	
	<!-- 사진 삭제  -->
	<delete id="deletePhoto" parameterType="int">
	   	DELETE FROM photoAlbum
	   	WHERE parent_idx=#{photoIdx};
   </delete>
   
   <!-- 사진 리스트 카운드 -->
   <select id ="selectPhotosCount" parameterType="int" resultType="int">
   SELECT count(*)
   FROM (
		SELECT photo_idx, photo_image_url, create_date, photo_name
		FROM photoAlbum
		WHERE parent_idx=#{parentIdx}
	) as a;
   </select>
   
   <!-- 사용자의 경험치 -->
   <select id ="selectLevel" parameterType="int" resultType="int">
   SELECT experience_score 
   FROM parent 
   WHERE parent_idx=#{parentIdx}
   </select>

	
	<!-- 스티커 리스트 -->
	 <select id ="selectStickers" resultMap="framesList">
    	SELECT  frame_idx, frame_image_url, frame_flag
		FROM photoFrame 
		where frame_flag=0
	</select>
	
	
</mapper>