<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.kang.play.model.mapper.PlayMapper">
	
	<resultMap type="SongListDto" id="songList">
		<result column="song_idx" property="songIdx" />
		<result column="play_mode" property="playMode" />
		<result column="thumbnail_url" property="thumbnailUrl" />
		<result column="video_url" property="videoUrl" />
		<result column="preview_music_url" property="previewMusicUrl" />
		<result column="motion_tag" property="tag"/>
		<result column="calorie_consumption" property="calorieConsumption" />
	</resultMap>
	
	<resultMap type="SongMotionDto" id="songMotionList">
		<result column="motion_type" property="danceIndex" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="count_delay" property="countDelay" />
		<result column="count_standard" property="countStandard" />
	</resultMap>

	<select id="selectSongList" resultMap="songList" >
		SELECT s.song_idx, s.play_mode, s.title, s.thumbnail_url, s.video_url, s.preview_music_url,
			   m.motion_tag, s.difficulty, s.calorie_consumption 
		FROM songList s
		LEFT JOIN motionType m
		ON s.motion_type = m.motion_type
	</select>
	
	<select id="selectSongMotionList" parameterType="int" resultMap="songMotionList" >
		SELECT * FROM songMotion WHERE song_idx = #{songIdx}
	</select>

</mapper>
	